ngb-accordion {
  .card {
    background-color: unset !important;
    color: $color-white !important;
    border: unset !important;
    box-shadow: unset !important;
  
    &-header {
      border-bottom: unset !important;
      background-color: unset;
      padding: 0.5rem 1rem 0 0.5rem !important;
    }

    &-body {
      padding: 0 0 0 1.25rem;
    }
  }
}