.timepicker {
    &--primary {
      .ngb-tp-meridian {
        button {
          min-width: 2rem !important;
          background-color: $color-primary;
          color: $color-white !important;
        }
      }
    }
  }