.font--arial {
    font-family: Arial, Helvetica, sans-serif !important;
}

.font--verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.font--tahoma {
    font-family: Tahoma, sans-serif !important;
}

.font--trebuchet {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

.font--times-new-roman {
    font-family: 'Times New Roman', Times, serif !important;
}

.font--courier-garamond {
    font-family: Garamond, serif !important;
}

.font--georgia {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.font--courier-new {
    font-family: 'Courier New', Courier, monospace !important;
}

.font--brush-script-mt {
    font-family: 'Brush Script MT', cursive !important;
}

/* Additional custom fonts */
.font--avenuex {
  font-family: 'AvenueX', sans-serif !important;
}

.font--comingsoon {
  font-family: 'ComingSoon', sans-serif !important;
}

.font--conformity {
  font-family: 'Conformity', sans-serif !important;
}

.font--elizabeth {
  font-family: 'Elizabeth', sans-serif !important;
}

.font--fredrickathegreat {
  font-family: 'FredrickaTheGreat', sans-serif !important;
}

.font--gangeouais {
  font-family: 'GangeOuais', sans-serif !important;
}

.font--italianno{
  font-family: 'Italianno', sans-serif !important;
}

.font--maytra{
  font-family: 'Maytra', sans-serif !important;
}

.font--nauert{
  font-family: 'Nauert', sans-serif !important;
}

.font--papercut{
  font-family: 'PaperCut', sans-serif !important;
}

.font--peignot{
  font-family: 'Peignot', sans-serif !important;
}

.font--rialto{
  font-family: 'Rialto', sans-serif !important;
}

.font--ribeyemarrow {
  font-family: 'RibeyeMarrow', sans-serif !important;
}

.font--somelove {
  font-family: 'Somelove', sans-serif !important;
}
