/* REGULAR */
@font-face {
  font-family: 'Open Sans';
  src: url('../../OpenSansFont/one2three-fonts/OpenSans-Regular.woff') format('woff'),
      url('../../OpenSansFont/one2three-fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* BOLD */
@font-face {
  font-family: 'Open Sans';
  src: url('../../OpenSansFont/one2three-fonts/OpenSans-Bold.woff') format('woff'),
      url('../../OpenSansFont/one2three-fonts/OpenSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* SEMI BOLD */
@font-face {
  font-family: 'Open Sans';
  src: url('../../OpenSansFont/one2three-fonts/OpenSans-SemiBold.woff') format('woff'),
      url('../../OpenSansFont/one2three-fonts/OpenSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Additional custom fonts */
@font-face {
  font-family: 'AvenueX';
  src: url('../../AvenueX/AvenueX-Regular.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ComingSoon';
  src: url('../../ComingSoon/ComingSoon.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Conformity';
  src: url('../../Conformity/CONFN___.TTF') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Elizabeth';
  src: url('../../Elizabeth/Elizabeth.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FredrickaTheGreat';
  src: url('../../FrederickaTheGreat/FrederickatheGreat-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GangeOuais';
  src: url('../../GangueOuais/GangueOuais.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italianno';
  src: url('../../Italianno/Italianno-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maytra';
  src: url('../../Maytra/Maytra.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nauert';
  src: url('../../Nauert/NauertRegular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PaperCut';
  src: url('../../PaperCut/papercut.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Peignot';
  src: url('../../Peignot/Peignot.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rialto';
  src: url('../../Rialto/RialtoNF.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RibeyeMarrow';
  src: url('../../RibeyeMarrow/RibeyeMarrow-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Somelove';
  src: url('../../Somelove/Somelove.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Open Sans', sans-serif !important;
}


h1 {
  font-size: 2.25rem !important;
  font-weight: 700 !important; //BLACK
}

h2 {
  font-size: 1.5rem !important;
  font-weight: bold !important; //BOLD
}

h3 {
  font-size: 1.25rem !important;
  font-weight: 600 !important; //SEMIBOLD
}

h4 {
  font-size: 1rem !important;
  font-weight: 600 !important; //SEMIBOLD
}

h5 {
  font-size: .875rem !important;
  font-weight: normal !important; //REGULAR
}

p, label, input, input::placeholder {
  font-size: .875rem;
}

label {
  font-size: .875rem !important; //12PX
  font-weight: 600 !important; //SEMIBOLD
}

